# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
testfiles/phrases.txt

# Ignore for C files
c/letters.exe
c/letters.map
c/letters.obj

# Ignore for C# files
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.AssemblyInfoInputs.cache
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.csproj.CoreCompileInputs.cache
csharp/LetterFrequencies/.vs/LetterFrequencies/v15/Server/sqlite3/db.lock
csharp/LetterFrequencies/.vs/LetterFrequencies/v15/Server/sqlite3/storage.ide
csharp/LetterFrequencies/.vs/LetterFrequencies/v15/Server/sqlite3/storage.ide-shm
csharp/LetterFrequencies/.vs/LetterFrequencies/v15/Server/sqlite3/storage.ide-wal
csharp/LetterFrequencies/LetterFrequencies/obj/LetterFrequencies.csproj.nuget.cache
csharp/LetterFrequencies/LetterFrequencies/obj/LetterFrequencies.csproj.nuget.g.props
csharp/LetterFrequencies/LetterFrequencies/obj/LetterFrequencies.csproj.nuget.g.targets
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.dll
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.pdb
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.runtimeconfig.dev.json
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.pdb
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.deps.json
csharp/LetterFrequencies/LetterFrequencies/bin/Debug/netcoreapp2.0/LetterFrequencies.runtimeconfig.json
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.dll
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.pdb
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.csproj.FileListAbsolute.txt
csharp/LetterFrequencies/LetterFrequencies/obj/Debug/netcoreapp2.0/LetterFrequencies.csprojResolveAssemblyReference.cache
csharp/LetterFrequencies/.vs/LetterFrequencies/v15/.suo
